<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head lang="en">
  <meta charset="UTF-8"/>
<title>cookie实现统计登录次数</title>

</head>
<body>

<div align="center" style="margin:10px; ">
	<fieldset>
		<legend>登录</legend>
		<form action="/login" method="post">
			<table>
				<tr>
					<td>
					</td>
					<td>
						<span style="color:red; ">${errmsg}</span>
					</td>
				</tr>
				<tr>
					<td>
						帐号：
					</td>
					<td>
						<input type="text" name="username" style="width:200px;"/>
					</td>
				</tr>
				<tr>
					<td>
						密码：
					</td>
					<td>
						<input type="password" name="password" style="width:200px; "/>
					</td>
				</tr>
				<tr>
					<td>
					</td>
					<td>
						<input type="submit" value=" 登  录 " class="button" />
					</td>
				</tr>
			</table>
		</form>
	</fieldset>
</div>
</body>

</html>
