<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>测试ajax显示appsecret</title>
<script
	src="https://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js">
	
</script>
<script>



$(document).ready(function(){
	$("#autologin").click(function(){
		$.ajax({
		    cache: true,
		    type: "post",
		    url:"/geturl",
		    data:$('#myform').serialize(),// 你的formid
		    async: false,
		    error: function(request) {
		        alert("Connection error");
		    },
		    success: function(result) {
		        	$("#url").html(result.replace("&timestamp", "&amp;timestamp"));
		    }
		});
	});
	
	$("a").click(function(){
		var url = $("a").html().replace(/\amp;/g, "")
		window.open(url);
	});
	
	
	$("#secret").click(function(){
		var data= {secretcode:$("#secretcode").val()};
		$.ajax({
		    cache: true,
		    type: "post",
		    url:"/getAppSecret",
		    data:data,// 你的formid
		    async: false,
		    error: function(request) {
		        alert("Connection error");
		    },
		    success: function(result) {
		    	$("#appsecret").html(result);	
					
		    }
		});
	});
	
	
});

</script>
</head>
<body>
<form id="myform">
<table>
<tr>
<td>用户名：</td>
<td>
<input type="text" id="uid" name="uid" />
</td>
</tr>
<tr>
<td>用积分：</td>
<td>
<input type="text" id="credits" name="credits" />
</td>
</tr>
<tr>
<td>自定义参数：</td>
<td>
<input type="text" id="dcustom" name="dcustom" />
</td>
</tr>
<tr>
<td>
<input id="rdo1" name="rdo1" type="radio" value="normal" checked="checked"/>正式环境
 	 <input id="rdo1" name="rdo1" type="radio" value="test"/>测试环境
   	<input id="rdo1" name="rdo1" type="radio" value="pre"/>预发环境
</td>
</tr>
</table>
</form>


<button id="autologin">测试</button>
	<a id="url" href="#"></a>
</br>	
<p>输入secretcode: <input type="text" id="secretcode" name="secretcode" size="50"/></p>
<button id="secret">获得appsecret</button>

<p id="appsecret"></p>
</body>
</html>

</body>


</html>
