<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<meta charset="UTF-8" />


<script
	src="https://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js">
	
</script>
<script>



$(document).ready(function(){
	
	$("button").click(function(){
		var con=confirm("确定要删除是吗")
		if(con==true){
		var data= {userid:$(this).attr("id")};
		$.ajax({
		    cache: true,
		    type: "post",
		    url:"/user/delete",
		    data:data,// 你的formid
		    async: false,
		    error: function(request) {
		        alert("Connection error");
		    },
		    success: function(result) {
		    	var con=confirm(result)
				if(con==true){
					 location.reload();
					window.location.href=url;}
				else{}
		    }
		   
		});
		 }else{}
	});
	
});

</script>



<style> 
.table-c table{border-right:1px solid #F00;border-bottom:1px solid #F00} 
.table-c table td{border-left:1px solid #F00;border-top:1px solid #F00} 
.table-c table th{border-left:2px solid #F00;border-top:2px solid #F00} 
/* 
css 注释： 
只对table td设置左与上边框； 
对table设置右与下边框； 
为了便于截图，我们将css 注释说明换行排版 
*/ 
</style>

</head>
<body>
  <h1>USER list</h1>
  #if(!${users})
  <h1>没有任何数据，请检测是否有数据</h1>
  #else
  
  <div class="table-c">
  <table width="400" border="0" cellspacing="0" cellpadding="0" >
    <tr>
      <th>UID</th>
      <th>NIME</th>
      <th>CREDITS</th>
       <th>VIP</th>
        <th>PHONE</th>
        <th>操作</th>
    </tr>
    #foreach($user in $users)
    <tr>
			<td>${user.userid}</td>
			<td>${user.username}</td>
			<td>${user.credits}</td>
			<td>${user.vip}</td>
			<td>${user.phone}</td>
			<td><button id ="${user.userid}">删除</button></td>
		</tr>
		 #end	
  </table>
  </div>

 #end
</body>
</html>
