<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>测试短信验证码</title>
<style>
.login {
	width : 80%;
	height : 200px;
	position : absolute;
	left : 10%;
	top : 30%;
	
}

div {
 padding-top: 60px;
  padding-right: 20%;
  padding-bottom: 60px;
  padding-left: 20%;
}


</style>
<script
	src="http://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js">
</script>
<script src="/js/msgcheck.js">
</script>
</head>
<body class="login">
<div >
	输入手机号：<input class="input" type="text" id="telephone" /><br />
	<input type="button" id="getcode" value="发送动态密码" />
	<br />
	<br />
	输入验证码：<input class="input" type="text" id="code" /><br />
	<input  type="button" id="test" value="测  试" />
	</div>
</body>
</html>
</body>

</html>
