<html>
<head>
<title>记录客户信息</title>
<script type="text/javascript">
if(getCookie("num")){
    var nn=parseInt(getCookie("num"));
    setCookie("num",++nn);
    }else{
    setCookie("num",0);
    }
    function getCookie(name){
    	
    var str=document.cookie.split(";");
    for(i=0;i<str.length;i++){ 
    var str2=str[i].split("=")
    if(str2[0].replace(/\s(.*)\s/,"$1")==name){
    return str2[1];
    }
    }
    }
    function setCookie(name,value){
    var Days=1;
    var exp = new Date();
    exp.setTime(exp.getTime() + Days*24*60*60*1000);
    document.cookie = name + "="+ escape(value) +";expires"+ exp.toGMTString();
    }
    alert("您是第"+getCookie("num")+"次访问");
        
</script>
</head>

<body>
<div align="center">
<a href="/getvisits">点我点我</a>
</div>
</body>
</html>