<!DOCTYPE html>
<html>
<head>
<title>设备指纹测试</title>
</head>
<body>

<input type="text" id="key" name="uid"/>
<br/><br/>
<input id="rdo1" name="rdo1" type="radio" value="normal"/>测试1
<input id="rdo1" name="rdo1" type="radio" value="test"/>测试2
<br/><br/>
<input type="button" value="确定" onclick="javascript:button_onclick();"/>
	
<script>
var chk = 0;
window.onload=function (){
    var chkObjs = document.getElementsByName("radio");
    for(var i=0;i<chkObjs.length;i++){
        if(chkObjs[i].checked){
            chk = i;
            break;
        }
    }
}
function check_radio(){
    var chkObjs = document.getElementsByName("rdo1");
    for(var i=0;i<chkObjs.length;i++){
        if(chkObjs[i].checked){
            if(chk == i){
                alert(chk.value);
                break;
            }
        }
    }
}

     function button_onclick(){
      var result = document.getElementById("key").value;
      var target = check_radio();
      alert(result+"=="+target)
     }
</script>
</body>
</html>