<!DOCTYPE html>
<html>

<head>


<style> 
#banner {
    border-radius: 100px;
    background: #8AC007;
    padding: 2px; 
    width: 200px;
    height: 200px;    
}

</style>

  <!-- JQuery import -->
  <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
 <script>
  
    // bind the on-change event for the input element (triggered when a file
    // is chosen)
    $(document).ready(function() {
      $("#upload").click(function(){

    	  uploadFile();});
    });
    
    /**
     * Upload the file sending it via Ajax at the Spring Boot server.
     */
    function uploadFile() {
      $.ajax({
        url: "/uploadFile",
        type: "POST",
        data: new FormData($("#upload-file-form")[0]),
        enctype: 'multipart/form-data',
        processData: false,
        contentType: false,
        cache: false,
        success: function () {
          // Handle upload success
          $("#upload-file-message").text("File succesfully uploaded");
          
          var path='225.jpg';
          $("#banner").attr("src","/images/"+path)
        },
        error: function () {
          // Handle upload error
          $("#upload-file-message").text(
              "File not uploaded (perhaps it's too much big)");
        }
      });
    } // function uploadFile
  </script>
  
</head>

<body>

  <!-- Upload file form -->
  <form id="upload-file-form">
    <label for="upload-file-input">Upload your file:</label>
    <input id="upload-file-input" type="file" name="uploadfile" accept="*" />
    <br /><br />
    <input type="button" id="upload" value="文件上传"/>
    <br />
    <span id="upload-file-message"></span>
  </form>
<img id="banner" alt="" src="/images/225.jpg"/>
 
</body>

</html>