<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="format-detection" content="telephone=no" />
<title>看《余罪》赢好礼</title>
<link rel="stylesheet" type="text/css" href="http://yun.duiba.com.cn/db-m/pkg/app/questions/index.html_aio_7ad4fcc.css" />
</head>
<body>

	<a style="display: none" id="hideUrl"> </a>
	<div id="db-content">
		<script>!function(e,i){var t=e.documentElement,n=navigator.userAgent.match(/iphone|ipod|ipad/gi),a=n?Math.min(i.devicePixelRatio,3):1,m="orientationchange"in window?"orientationchange":"resize";t.dataset.dpr=a;for(var d,l,c=!1,o=e.getElementsByTagName("meta"),r=0;r<o.length;r++)l=o[r],"viewport"==l.name&&(c=!0,d=l);if(c)d.content="width=device-width,initial-scale=1.0,maximum-scale=1.0, minimum-scale=1.0,user-scalable=no";else{var o=e.createElement("meta");o.name="viewport",o.content="width=device-width,initial-scale=1.0,maximum-scale=1.0, minimum-scale=1.0,user-scalable=no",t.firstElementChild.appendChild(o)}var s=function(){var e=t.clientWidth;e/a>640&&(e=640*a),window.remScale=e/640,t.style.fontSize=200*(e/640)+"px"};s(),e.addEventListener&&i.addEventListener(m,s,!1)}(document,window);</script>
		<link rel="stylesheet" href="http://yun.duiba.com.cn/db-m/app/questions/static/css/layer_ccb3646.css">
		<link rel="stylesheet" href="http://yun.duiba.com.cn/db-m/app/questions/skins/yuzui/index_78d9b94.css">
		<div class="banner"></div>
		<div class="area" id="gamewrap">
			<div class="intro-container">
				<div class="slogan"></div>
				<div class="btn">
					<a class="btn-star" data-star="false" href="http://a.app.qq.com/o/simple.jsp?pkgname=com.qiyi.video">点击参与</a>
				</div>
				<div class="surplus-num">剩余 1次 免费机会</div>
				<p class="tip">参与路径：服务 - 任性送大礼 余罪答题活动</p>
			</div>
		</div>

		<div class="prize swiper-container">
			<ul class="swiper-wrapper">

				<li class="swiper-slide item-detail" data-id="500" data-appItemid="" data-itemId="10618"><span class="u-img"> <img
						src="http://yun.duiba.com.cn/images/201606/yw8b9bcvnt.png" alt="">
				</span>
					<p class="tit">苹果iPad</p></li>

				<li class="swiper-slide item-detail" data-id="526" data-appItemid="" data-itemId="7283"><span class="u-img"> <img
						src="http://yun.duiba.com.cn/images/201606/sp4c1qpbod.png" alt="">
				</span>
					<p class="tit">乐2超级手机</p></li>

				<li class="swiper-slide item-detail" data-id="523" data-appItemid="" data-itemId="53"><span class="u-img"> <img
						src="http://yun.duiba.com.cn/developer/img/activityTool/slotMachine/alipay.png" alt="">
				</span>
					<p class="tit">支付宝1元</p></li>

				<li class="swiper-slide item-detail" data-id="524" data-appItemid="" data-itemId="9780"><span class="u-img"> <img
						src="http://yun.duiba.com.cn/images/201606/sij9w1q15y.png" alt="">
				</span>
					<p class="tit">天猫超市生鲜</p></li>

				<li class="swiper-slide item-detail" data-id="525" data-appItemid="" data-itemId="10591"><span class="u-img"> <img
						src="http://yun.duiba.com.cn/images/201606/qty8lmswc8.png" alt="">
				</span>
					<p class="tit">京东随机红包</p></li>

			</ul>
			<span class="icon"></span>
		</div>
		<div class="rules">
			<h2>【 活动规则 】</h2>
			<h4>
				<ul style="font-size: 14px; font-weight: normal;">
					<li>活动说明：每天每人限参加1次活动</li>
				</ul>
				<ul style="font-size: 14px; font-weight: normal;">
					<li>活动时间：2016年6月29日至2016年7月6日</li>
				</ul>
			</h4>
			<h4>
				<b style="font-size: 14px;">【</b>参与方式<b style="font-size: 14px;">】</b>
			</h4>
			<h4>
				<ul style="font-size: 14px; font-weight: normal;">
					<li>点击参与按钮，下载爱奇艺APP</li>
				</ul>
				<ul style="font-size: 14px; font-weight: normal;">
					<li>打开爱奇艺APP 依次进入：服务 - 任性送大礼 参加余罪答题活动，既有机会赢得大奖</li>
				</ul>
			</h4>
			<h4>
				<b style="font-size: 14px;">【</b>中奖说明<b style="font-size: 14px;">】</b>
			</h4>
			<h4>
				<div style="font-size: 14px; font-weight: normal; line-height: 22.2222px;">
					<ul>
						<li>一等奖：价值4688元iPad Pro 9.7寸</li>
					</ul>
					<ul>
						<li>二等奖：价值599元红米2手机</li>
					</ul>
					<ul>
						<li>三等奖：1元支付宝红包</li>
					</ul>
					<ul>
						<li>幸运奖：京东5-10元随机红包</li>
						<li>幸运奖：携程100元优惠券</li>
					</ul>
				</div>
			</h4>
			<h4>
				<b style="font-size: 14px;">【</b>本活动为概率中奖<b style="font-size: 14px;">】</b>
			</h4>
			<div style="font-size: 14px; font-weight: normal; line-height: 22.2222px;">
				<div></div>
				<ul>
					<li>一等奖共1份，答对5道题即有机会参与抽奖</li>
				</ul>
				<ul>
					<li>二等奖共3份，答对4道题即有机会参与抽奖</li>
					<li>三等奖共2000份，答对3道题即有机会参与抽奖</li>
				</ul>
				<span style="line-height: 20px;">－－－－－－－－－－－－－－－－－－－－－</span><br>
				<span style="font-size: 15px;">重要声明：<br></span>兑换后仔细阅读使用流程，若有疑问，可直接联系客服专线：400-006-6855或客服QQ：4000066855 （工作日9:00至18:00）<span
					style="font-size: 15px;"><br></span>
			</div>
		</div>
	</div>
</body>

</html>
